/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2021, 8:27:57 PM
    Author     : jojoi
*/

.background {
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    border: outset;
    z-index: 3;
}

.dizian {
    position: absolute;
    top: 19vw;
    left: 46.5vw;
    z-index: 1;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
}

.dizian:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}




.text1 {
    animation: color-change 0.1s infinite;
    font-size: 5vw;
    font: sans-serif;
    font-weight: bold;
    top: 0;
    text-align: center;
}

.text1:hover {
    
}

body { 
    animation-name: background-color;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    overflow: hidden;
}

@keyframes color-change {
    0%{color: red;}
    20%{color: orange;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: purple;}
}

@keyframes background-color {
  0% { background: white }
  100% { background: black }
}
