/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2021, 8:27:57 PM
    Author     : jojoi
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.truebackground {
    position: absolute;
    top: 0vw;
    left 0vw;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    z-index: 5;
}

.background {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    border: outset;
    z-index: 2;
}

.dizianbio {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 3px solid orange;
    width: 40vw;
    left: 30vw;
    top: 10vw;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    
    transition: visibility 0.5s, opacity 0.5s;
}

.dizianimg {
    position: absolute;
    top: 19vw;
    left: 46.5vw;
    z-index: 1;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
    
}

.dizianimg:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}

.dizianwrap:hover .dizianbio {
    visibility: visible;
    opacity: 1;
}

.flamebio {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 3px solid orange;
    width: 40vw;
    left: 30vw;
    top: 10vw;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    
    transition: visibility 0.5s, opacity 0.5s;
}

.flameimg {
    position: absolute;
    top: 18.5vw;
    left: 6vw;
    z-index: 1;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
    
}

.flameimg:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}

.flamewrap:hover .flamebio {
    visibility: visible;
    opacity: 1;
}

.scruxbio {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 3px solid orange;
    width: 40vw;
    left: 30vw;
    top: 10vw;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    
    transition: visibility 0.5s, opacity 0.5s;
}

.scruximg {
    position: absolute;
    top: 19vw;
    left: 62vw;
    z-index: 2;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
    
}

.scruximg:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}

.scruxwrap:hover .scruxbio {
    visibility: visible;
    opacity: 1;
}

.kayabio {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 3px solid orange;
    width: 40vw;
    left: 30vw;
    top: 10vw;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    
    transition: visibility 0.5s, opacity 0.5s;
}

.kayaimg {
    position: absolute;
    top: 20.5vw;
    left: 91vw;
    z-index: 1;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
    
}

.kayaimg:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}

.kayawrap:hover .kayabio {
    visibility: visible;
    opacity: 1;
}

.shompbio {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 3px solid orange;
    width: 40vw;
    left: 30vw;
    top: 10vw;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    
    transition: visibility 0.5s, opacity 0.5s;
}

.shompimg {
    position: absolute;
    top: 20.5vw;
    left: 58.5vw;
    z-index: 1;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
    
}

.shompimg:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}

.shompwrap:hover .shompbio {
    visibility: visible;
    opacity: 1;
}

.jaminbio {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 3px solid orange;
    width: 40vw;
    left: 30vw;
    top: 10vw;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    
    transition: visibility 0.5s, opacity 0.5s;
}

.jaminimg {
    position: absolute;
    top: 18.5vw;
    left: 79.5vw;
    z-index: 1;
    width: 6%;
    height: auto;
    
    transition: all 0.3s ease-in-out 0s;
    
}

.jaminimg:hover {
    cursor: default;
    transform: rotate(1800deg);
    transition: all 0.3s ease-in-out 0s;
}

.jaminwrap:hover .jaminbio {
    visibility: visible;
    opacity: 1;
}


.text1:hover {
    transform: rotateZ(7200deg);
}


.text1 {
    animation: color-change 0.3s infinite;
    font-size: 5vw;
    font: sans-serif;
    font-weight: bold;
    top: 0;
    text-align: center;
    transition: 5s;
    z-index: 1;
}

.text2 {
    position: absolute;
    font-size: 2vw;
    font: sans-serif;
    font-weight: bold;
    z-index: 3;
    color: white;
    bottom: 3vw;
    left: 32vw;
}

.text3 {
    position: absolute;
    font-size: 2vw;
    font: sans-serif;
    font-weight: bold;
    z-index: 3;
    color: white;
    bottom: 1vw;
    left: 34vw;
}

body { 
    overflow: hidden;
}

@keyframes color-change {
    0%{color: red;}
    20%{color: orange;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: purple;}
}

@keyframes background-color {
  0% { background: white }
  100% { background: black }
}
