/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2021, 8:27:57 PM
    Author     : jojoi
*/

.background {
    
    max-height: 100%;
    max-width: 100%;
    top: 15vw;
    width: 100vw;
    border: outset;
    
}

.text1 {
    animation: color-change 0.1s infinite;
    font-size: 5vw;
    font: sans-serif;
    font-weight: bold;
    top: 0;
}

body { 
    background-color: black; 
    overflow: hidden;
}

@keyframes color-change {
    0%{color: red;}
    20%{color: orange;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: purple;}
}
